img {
    object-fit: contain;
}

.swiper-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swiper-img{
    width: 100vw;
    height: 100vh;
}

.opBtn{
    position: absolute;
    left: 2vw;
    top: 2vh;
    font-size: 2vw;
    border: 1px solid yellow;
    padding: 0.5vw;
    z-index: 100;
    color: white;
    background-color: black;
    cursor: pointer;
}

.opBtn.trans {
    color: transparent;
    background-color: transparent;
    border: none;
}